{% extends 'layouts/frontend.html' %}
    {% block title_block %}
        Profile
    {% endblock %}
    {% block main_content %}
        <div class="card">
            {% if extra_data %}
                {{ extra_data.picture_url }}
            {% endif %}
            <div class="modal-footer">
                <div class="card-block buttons">
                <a href = "{% url 'logout' %}"<button class="btn btn-inroad-red btn-round btn-lg" style = "margin-right: 2px;">
                        Logout
                    </button></a>
                </div>
            </div>
        </div>
    {% endblock %}