/* Custom CSS used for the site */
/************/
/*  Fonts & Text  */
/**********/

/*@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|Roboto|Roboto+Condensed');*/

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.inroad-blue {
  background-color: #36D1C4;
}

/**************/
/*   Global  */
/************/

h4, h6, p {
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 180px;
  background-color: #F3F3F3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
}

.red1 {
    color: #FB624A;
}


body .container {
    padding: 5px 15px 5px 15px;
}

form {
    padding-top: 25px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.shadow {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
}

.form-card {
    width: 500px;
}

.page-wrapper {
    /*font-family: Roboto, arial, sans-serif;*/
    padding: 15px 15px 0 15px;
    min-height: 700px;
    /*background-color: #fff;*/
    height: 100%;
}

.page-header-container {
    margin-bottom: 50px;
}

.center-content {
    display: block;
    float: none;
    margin: 0 auto !important;
}

.float-content-left {
    float: left!important;
}

.float-content-right {
    float: right!important;
}

.center-text {
    text-align: center;
}

.jumbo-title {
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.container {
    padding-top: 20px !important;
}

.modal-dialog {
    max-width: 800px;
}

.modal-footer {
    max-width: 800px;
}

.modal-footer {
    border-top: 0px solid #e9ecef;
}

/**************/
/* cards     */
/************/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.saved-card {
  background: #fff;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: transform .15s linear;
  transform: scale(1.00);
}

.job-card {
  background: #fff;
  border-radius: 5px;
}

.job-mag {
  backface-visibility: hidden;
  transition: transform .15s linear;
  transform: scale(1.00);
}

.job-mag:hover {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: transform .15s linear;
  transform: scale(1.04);
}

.job-mag:active {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: transform .10s linear;
  transform: scale(1.02);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 98%;
    margin-bottom: 2rem;
  }
}

.job-card > .card-img-top {
    height: 60px;
}

.job-card > .card-img-top > img {
  height:100%;
  display: block;
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
 }

.card-block.buttons {
  padding: 0rem 1.25rem 0rem 1.25rem;
  text-align:center !important;
  margin:auto;
}

.card p {
  margin-top: 5px;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem;
}
/**************/
/* images  */
/************/

.nav-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    opacity: 1;
    position: relative;
    left: auto;
    top: auto;
    margin-left: 0;
    -webkit-clip-path: none;
    clip-path: none;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.profile-photo {
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
    left: auto;
    top: auto;
    margin-left: 0;
    -webkit-clip-path: none;
    clip-path: none;
    -webkit-transform: scale(1);
    transform: scale(1);
}



/**************/
/* modals  */
/************/

.modal {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  height: 75px;
}

.modal-body {
  padding: 1.25rem 1.25rem 0rem 1.25rem;
}

.modal-header img {
  height: 60px;
  display: block;
  margin:0 auto;
  padding-top: 0px;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.85;
}

.comment-block {
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 18px 15px 18px 15px;
  border-radius: 5px;
  background-color: #EDEDED;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comment-block h5 {
  margin-bottom: 3px;
  color: #36D1C4;
}

.card-text .fa {
  transition: .3s transform ease-in-out;
}

.card-text .collapsed .fa {
  transform: scaleY(-1);
}

/**************/
/* buttons  */
/************/


.btn-inroad {
    background-color: #36D1C4;
    padding: 18px 15px 18px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    line-height: .8em;
    text-align: center;
    border: 2px solid #36D1C4;
}
.btn-inroad:hover {
    background-color: #30E8A5;
    border: 2px solid #30E8A5;
    color: #FFFFFF
}

.btn-inroad-red {
    background-color: #FF6349;
    padding: 18px 15px 18px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    line-height: .8em;
    text-align: center;
    border: 2px solid #36D1C4;
}

.btn-inroad-red:hover {
    background-color: #D7543F;
    border: 2px solid #D7543F;
    color: #FFFFFF
}

.btn-inroad-open {
    background-color: #FFFFFF;
    padding: 18px 15px 18px 15px;
    border-radius: 5px;
    color: #36D1C4;
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    line-height: .8em;
    text-align: center;
    border: 2px solid #36D1C4;
}

.btn-inroad-open:hover {
    color: #30E8A5;
    border-color: #30E8A5;
}

.btn-inroad-white {
    background-color: transparent;
    padding: 18px 15px 18px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    line-height: .8em;
    text-align: center;
    border: 2px solid #FFFFFF;
}

.btn-inroad-white:hover {
    background-color: #30E8A5;
}

.btn-inroad-nav {
    background-color: transparent;
    padding: 20px 15px 20px 15px;
    color: #FFFFFF;
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    line-height: .8em;
    text-align: center;
}

.btn-inroad-nav:hover {
    background-color: #30E8A5;
}

.posting-link {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.profile-pic {
    padding: 8px 15px 8px 15px;
}

.saved {
    line-height: .3em !important;
}


/**************/
/* frontend  */
/************/

.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

.default-card {
    width: 350px;
    margin-top: 2000px;
    margin-bottom: 120px;
}

.frontend-background {
    background: url('/static/img/InroadBG1.png') no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height: 425px;
}

.frontend-card {
    height: 240px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 20px;
}

.frontend-title {
    /* how it works: */
    font-family: KannadaSangamMN;
    font-size: 48px;
    color: #525558;
    padding-top: 60px;
    padding-bottom: 30px;
}

.frontend-icons {
    color: #1F6FC5;
    padding-bottom: 10px;
}

.frontend-header {
    color: #525558;
    padding-top: 5px;
}

.frontend-text {
    opacity: 0.7;
    color: #71767A;
}


.landing-page-logo {
    height: 120px;
    margin-top: 125px;
}

.landing-background-color {
    background: #F3F3F3;
}


.footer-logo {
    height: 40px;
    margin-top: 10px;
    padding-left: 15px;
}

.footer h2 {
	font-size: 15px;
	font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 27px;
	padding: 5px 0 0px;
}

.footer h3 {
	color: #36D1C4;
	font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 27px;
	padding: 5px 0 0px;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 5px;
}

.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

