/* Custom CSS used for the site */
/************/
/*  Fonts & Text  */
/**********/

/*@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|Roboto|Roboto+Condensed');*/

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/**************/
/*   Global  */
/************/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: KannadaSangamMN;
    margin-bottom: 0rem;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    background-color: #F3F3F3;
}

.red1 {
    color: #FB624A;
}


body .container {
    padding: 5px 15px 5px 15px;
}

form {
    padding-top: 25px;
    padding-bottom: 35px;
    max-width: 500px;
    margin: 0 auto;
}

.shadow {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
}

.form-card {
    width: 500px;
}

.page-wrapper {
    /*font-family: Roboto, arial, sans-serif;*/
    padding: 15px 15px 0 15px;
    min-height: 700px;
    /*background-color: #fff;*/
    height: 100%;
}

.page-header-container {
    margin-bottom: 50px;
}

.center-content {
    display: block;
    float: none;
    margin: 0 auto !important;
}

.float-content-left {
    float: left!important;
}

.float-content-right {
    float: right!important;
}

.center-text {
    text-align: center;
}

.jumbo-title {
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}


/**************/
/* cards     */
/************/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card {
  background: #fff;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card:hover {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: transform .15s linear;
  transform: scale(1.03);
}

.card:active {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: transform .10s linear;
  transform: scale(1.00);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 98%;
    margin-bottom: 2rem;
  }
}

.card-img-top img {
  width:50%;
  display: block;
  margin:0 auto;
  padding-top: 18px;
 }

/**************/
/* modals  */
/************/

.modal {
  position: fixed;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.modal-header img {
  width:50%;
  display: block;
  margin:0 auto;
  padding-top: 15px;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.85;
}


/**************/
/* buttons  */
/************/

.btn-round {
    border-radius: 30px;
}

.btn-xl {
  padding: 1rem 2rem;
  font-size: 1.75rem;
  border-radius: 2rem;
    margin-top: 60px;
    margin-bottom: 60px;
}

.btn-red {
    background: #FB624A;
    color: #FFFFFF;
}

.btn-red:hover {
  color: #fff;
  background-color: #d75741;
}

.btn-red:focus, .btn-red.focus {
  color: #fff;
  background-color: #d95741;
}

.btn-red:active, .btn-red.active,
.open > .btn-red.dropdown-toggle {
  color: #fff;
  background-color: #d95741;
}

.btn-red:active:hover, .btn-red:active:focus, .btn-red:active.focus, .btn-red.active:hover, .btn-red.active:focus, .btn-red.active.focus,
.open > .btn-red.dropdown-toggle:hover,
.open > .btn-red.dropdown-toggle:focus,
.open > .btn-red.dropdown-toggle.focus {
  color: #fff;
  background-color: #af4a36;
}




/**************/
/* frontend  */
/************/

.default-card {
    width: 350px;
    margin-top: 2000px;
    margin-bottom: 120px;
}

.frontend-background {
    background: url('/static/img/InroadBG1.png') no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height: 425px;
}

.frontend-card {
    height: 240px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 20px;
}

.frontend-title {
    /* how it works: */
    font-family: KannadaSangamMN;
    font-size: 48px;
    color: #525558;
    padding-top: 60px;
    padding-bottom: 30px;
}

.frontend-icons {
    color: #1F6FC5;
    padding-bottom: 10px;
}

.frontend-header {
    color: #525558;
    padding-top: 5px;
}

.frontend-text {
    opacity: 0.7;
    color: #71767A;
}


.landing-page-logo {
    height: 120px;
    margin-top: 125px;
}

.landing-background-color {
    background: #F3F3F3;
}
.footer {
    background-color: white;
}

.footer-logo {
    height: 20px;
    margin-top: 10px;
    padding-left: 15px;
}

.footer h2 {
	font-size: 15px;
	line-height: 27px;
	padding: 15px 0 0px;
}

.footer h3 {
	color: #FB624A;
	font-size: 18px;
	line-height: 27px;
	padding: 10px 0 0px;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 5px;
}

.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

