{% extends 'layouts/frontend.html' %}
    {% block title_block %}
        Application
    {% endblock %}
    {% block main_content %}
        <div >
        <div class="card w-75 mx-auto" >
            <form id = "application_form" method = "post">
                {% csrf_token %}
                    {% if application_form.non_field_errors %}
                    {{ application_form.non_field_errors.as_text }}
                    {% endif %}
                    <p>Question 1: {{ application_form.question1 }}</p>
                    <p>Question 2: {{ application_form.question2 }}</p>
                <button type="submit" name="submit" class="btn btn-info" value="Create Application">Apply</button>
            </form>
        </div>
        </div>
    {% endblock %}