{% extends 'layouts/frontend.html' %}
    {% block title_block %}
        Home
    {% endblock %}
    {% block main_content %}
        {% if board %}
            {% with board|first as board %}
            <h2>{{ board.title }}</h2>
            <h3>{{ board.description}}</h3>
            <h4><a href="{% url 'add_position' board_name=board.slug %}">Add a New Position</a> </h4>
            <h4><a href="{% url 'add_board' %}">Add a New Board</a><br /></h4>
            {% endwith %}
        {% endif %}
        {% if positions %}
            <div class = card-columns>
                {% for position in positions %}
                    <div class="card job-card job-mag" data-toggle="modal" data-target="#exampleModalLive" position-id ="{{ position.id }}" >
                        <div class="card-img-top img-responsive" style= "background-color: #{{ position.color }};">
                            <img src="/media/{{ position.logo }}">
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">{{ position.job_title }}</h4>
                            <h6 class="card-subtitle text-muted">{{ position.city }}, {{ position.state }}</h6>
                            <p class="card-text">{{ position.description }}</p>
                        </div>
                        <p class="card-text text-center"><small class="text-muted">Click for info</small></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

            <span id="indeed_at"><a title="Job Search" href="https://www.indeed.com" rel="nofollow" >jobs by <img alt=Indeed src="https://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;"></a></span>

            <!-- .modal-profile -->
            <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                        </div>
                        <div id="comments"></div>
                        <div class="modal-footer">
                            <div class="card-block buttons">
                                    <a href = ""><button class="btn btn-inroad" type="button" style = "margin-right: 2px;">
                                        Get Intro
                                    </button></a>
                                    <span id="modal-buttons"></span>
                                    <a href = ""><button class="btn btn-inroad-open posting-link" type="button">
                                    See Posting
                                    </button></a>
                            </div>
                        </div>

                        </div>
                    </div>

                </div>
            </div>

	<!-- //.modal-profile -->
    {% endblock %}