{% extends 'layouts/frontend.html' %}
    {% block title_block %}
        Home
    {% endblock %}
    {% block main_content %}
        <br>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-secondary">Left</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
        </div>
        <br><br>
        {% if positions %}
            <div class = card-columns>
                {% for position in positions %}
                            <div class="card" data-toggle="modal" data-target="#exampleModalLive" position-id ="{{ position.id }}" >
                                    <div class="card-img-top img-responsive" style= "background-color: #{{ position.color }};">
                                        <img src="/media/{{ position.logo }}">
                                    </div>
                                    <div class="card-block">
                                         <h4 class="card-title">{{ position.job_title }}</h4>
                                            <h6 class="card-subtitle text-muted">{{ position.city }}, {{ position.state }}</h6>
                                                <p class="card-text">{{ position.description }}</p>
                                    </div>
                                    <p class="card-text text-center"><small class="text-muted">Click for info</small></p>
                            </div>
                    {% endfor %}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <p>Hello {{ user.username }}!</p>
            <a href="{% url 'logout' %}">logout</a>
            <a href="{% url 'add_position' %}">Add a New Position</a><br />
        {% else %}
            <p>You have not been authenticated</p>
        {% endif %}
            <span id="indeed_at"><a title="Job Search" href="https://www.indeed.com" rel="nofollow" >jobs by <img alt=Indeed src="https://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;"></a></span>

            <!-- .modal-profile -->
            <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">

                        </div>

                            <div class="card-text text-center">
                                <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                                    <small class="text-muted"><i class="fa fa-chevron-up"></i>&emsp;Comments&emsp;<i class="fa fa-chevron-up"></i></small>
                                </a>
                            </div>
                            <div class="collapse show" id="collapseExample"><div id = "comments"></div></div>

                        <div class="modal-footer">
                            <div class="card-block buttons">
                            <button class="btn btn-inroad btn-round btn-lg" type="button" style = "margin-right: 2px;">
                                learn more
                            </button>
                            <button class="btn btn-inroad-open btn-round btn-lg" type="button">
                                see posting
                            </button>
                        </div>

                        </div>
                    </div>

                </div>
            </div>

	<!-- //.modal-profile -->
    {% endblock %}