{% extends 'layouts/frontend.html' %}
    {% block title_block %}
        Saved Jobs
    {% endblock %}
    {% block main_content %}
        {% if positions %}
            <div class = card-columns>
                {% for position in positions %}
                            <div class="card job-card" position-id ="{{ position.id }}" >
                                    <div class="card-img-top img-responsive" style= "background-color: #{{ position.color }};">
                                        <img src="/media/{{ position.logo }}">
                                    </div>
                                    <div class="card-block">
                                         <h4 class="card-title">{{ position.job_title }}</h4>
                                            <h6 class="card-subtitle text-muted">{{ position.city }}, {{ position.state }}</h6>
                                        {% if position.applied is True %}
                                            <i class="fa fa-check-circle" aria-hidden="true"></i> Applied
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <div class="card-block buttons">
                                            <a href = "{% url 'apply' pk=position.pk %}"><button class="btn btn-inroad saved" type="button" style = "margin-right: 2px;">
                                                Get Intro
                                            </button></a>
                                            <a href = "/{{ position.id }}/unsave_job"><button class='btn btn-inroad-red saved' type='button' style = 'margin-right: 2px;'>Unsave</button></a>
                                        </div>
                                    </div>
                            </div>
                    {% endfor %}
            </div>
        {% endif %}

	<!-- //.modal-profile -->
    {% endblock %}