{% extends 'layouts/frontend.html' %}
    {% block title_block %}
        Add Board
    {% endblock %}
    {% block main_content %}
    <div class="card w-75 mx-auto" >
        <form id = "board_form" method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type='hidden' name='board_id' value='{{ board_id }}'>
            {% if board_form.errors %}
                    {{ board_form.errors.as_text }}
            {% endif %}
            <p>Slug: {{ board_form.slug }}</p>
            <p>Title: {{ board_form.title }}</p>
            <p>Description: {{ board_form.description }}</p>
            <p>Logo: {{ board_form.logo }}</p>
            <button class="btn btn-inroad" type="submit" name="submit" value="Create Board">Create Board</button>
        </form>
    </div>
    {% endblock %}